.triple ul{
	width:760px;
	/*width:960px;*/
	overflow:hidden;
	margin-bottom:20px;
	border-top:1px solid #ccc;
	
}
.triple li{
	line-height:1.5em;
	float:left;	
	/*border-bottom:1px solid #ccc;*/
	display:inline;
	
}
.triple{
	height: 200px;
}

/*#double li  { width:50%;} */
#triple li  { width:25%; } 
/*.triple li  { width:25%; } */
/*#quad li    { width:25%; } */
/*#six li     { width:16.666%; }*/

.rock_welcome_note_1{
	width: 100%;
    float: left;
    text-align: center;
    background: #000;
    position: relative;
}

    
